*,
*::after
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
  position: relative; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.text-box__primary-heading {
  max-width: 70%;
  font-family: "Poppins";
  font-size: 3.2rem;
  line-height: 5rem; }

.text-box__primary-paragraph {
  margin-bottom: 5rem; }

.primary-heading {
  color: #000;
  margin: 0 0 5rem; }
  .primary-heading--cta {
    color: #000;
    margin: 0 0 5rem; }

.paragraph-secondary {
  color: #808d99; }

.footer-nav {
  font-size: 1.6rem;
  color: #ebfbff; }

.btn:link,
.btn :visited {
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .1rem;
  text-decoration: none;
  padding: 1.3rem 6rem;
  border-radius: 10rem;
  box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.2);
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  transition: all, .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scalex(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #FFF;
  color: #000; }

.btn--pink {
  background-color: #ff52bf;
  color: #FFF; }

.link {
  color: #fff;
  text-decoration: none; }

.card {
  display: flex;
  height: 40rem;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
  padding: 5rem 5rem;
  margin-bottom: 5rem; }
  .card__text-box {
    padding: 10rem 10rem;
    flex-grow: 1; }
  .card__illustration {
    max-width: 30vw;
    padding: 2rem; }
  .card:nth-child(1) {
    margin-top: 20rem; }

.card-cta {
  background-color: #FFF;
  width: 50vw;
  height: 15rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
  padding: 5rem 5rem;
  margin-bottom: 5rem; }

.background {
  background-color: #ebfbff;
  position: absolute;
  z-index: -200;
  background-repeat: no-repeat;
  background-size: cover; }

.header {
  width: 90vw;
  margin: 0 auto;
  padding: 5rem 5rem; }
  .header-nav {
    margin: 0 auto;
    align-content: center; }
    .header-nav::after {
      content: "";
      display: table;
      clear: both; }
    .header-nav__logo {
      float: left;
      justify-content: center; }
    .header-nav__btn {
      float: right; }
  .header-cta {
    margin: 0 auto;
    margin-top: 8rem;
    display: flex; }
    .header-cta__text-box {
      max-width: 38vw;
      margin-right: 10.4rem;
      margin-top: 6rem; }
    .header-cta__illustration {
      max-width: 50vw; }

.text-box__btn {
  float: left; }

.card-section {
  width: 90vw;
  margin: 0 auto; }

.fotter-cta {
  width: 50vw;
  margin: 0 auto;
  position: relative; }

.footer-nav {
  background-color: #00252e;
  padding: 10rem 5rem;
  margin-top: 30rem;
  position: relative; }
  .footer-nav__column {
    list-style-type: none;
    margin: 0 auto; }
    .footer-nav__column--item-icon {
      display: inline;
      margin-right: 3rem; }
    .footer-nav__column--item {
      margin-bottom: 2rem;
      padding-left: 3rem; }
  .footer-nav__logo {
    margin-bottom: 5rem;
    margin-top: 10rem;
    fill: #fff; }

.footer-cta {
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%); }

.contact__address {
  margin-bottom: 2rem; }
  .contact__address--icon {
    float: left;
    margin-right: 3rem;
    margin-top: 1rem; }
  .contact__address--text {
    display: inline-block;
    width: 30rem; }

.contact__phone, .contact__email {
  margin-bottom: 2rem; }
  .contact__phone--icon, .contact__email--icon {
    display: inline-block;
    margin-right: 3rem; }

.copyright {
  float: right;
  font-size: 1.2rem;
  margin-top: 5rem; }

.row {
  max-width: 144rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row .column-2-of-5 {
    width: calc(2*(calc((100% - 20rem) /5)) + 5rem);
    float: left; }
  .row .column-1-of-5 {
    width: calc((100% - 20rem) /5);
    margin: 0 auto;
    float: left; }
    .row .column-1-of-5:not(:last-child) {
      margin-right: 5rem; }
