*,
*::after
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html{
    // definition of 1 rem
    font-size: 62.5%;
}

body {
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}